.img-scroll-top{
    width:50px;
    height:50px;
    cursor: pointer;
    fill:black;
    /*fill:rgba(0, 0, 0, 0.7);*/
    border-radius: 0px;
  
  }
  .styles_scroll-to-top__2A70v {
    background-color: transparent;
  }